*{
    background-color:  rgb(190, 210, 210);
}

.security {
    display: flex;
    flex-direction: row;
    gap: 10px;
    

    
}

#opcion1{
    width: 50%;
    padding: 10px;
}
#opcion2{
    width: 50%;
    padding: 10px;
}
#opcion3{
    width: 50%;
    padding: 10px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border: solid 1px none;
    width: 100%;
}

#buttons{
    padding: 10px;
    width: 5%;
    color: white;
    background-color: black;
    cursor: pointer;
    font-size: 20px;
}

h2 {
    font-size: 30px;
}

#resultado{
    font-size: 30px;
}